.App {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.gridOptions {
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@media screen and (min-width: 601px) {
    .gridOptions {
        width: 40vw;
    }
}

@media screen and (max-width: 600px) {
    .gridOptions {
        width: 100vw;
    }
}